Repository yash-gulatii/Hacktoberfest-2023, pull requests merged in 2023-10, with the labels that each got.

#3 Added Password Generator
  Python/password_generator.py
Labels: good first issue, hacktoberfest

#5 Add BMI Calculator Script
  Python/bmi_calculator.py
Labels: good first issue, hacktoberfest

#4 Add files via upload
  Python/madlibs.py
Labels: good first issue, hacktoberfest, python

#6 Create number_guessing_game.py
  Python/number_guessing_game.py
Labels: good first issue, hacktoberfest, python

#8 Added Jokes Game GUI
  Python/jokes_game_gui.py
Labels: good first issue, hacktoberfest, python

#7 added hangman game
  Python/hangman_game/__pycache__/hangman_art.cpython-310.pyc
  Python/hangman_game/__pycache__/hangman_words.cpython-310.pyc
  Python/hangman_game/hangman.py
  Python/hangman_game/hangman_art.py
  Python/hangman_game/hangman_words.py
Labels: good first issue, hacktoberfest, python

#11 Basic LeetCode Problems solve
  Python/LeetCode Problems/12. Integer to Roman.py
  Python/LeetCode Problems/2. Add Two Numbers.py
  Python/LeetCode Problems/9. Palindrome Number.py
Labels: good first issue, hacktoberfest, python

#12 Added Calculator Gui
  Python/calculator_gui.py
Labels: good first issue, hacktoberfest, python

#14 Create temp.html
  HTML/temp.html
Labels: good first issue, hacktoberfest, html

#15 Create calc.cpp
  CPP/calc.cpp
Labels: good first issue, hacktoberfest, c++

#16 Added Weather App
  Python/WeatherApp/__pycache__/credentials.cpython-311.pyc
  Python/WeatherApp/__pycache__/functions.cpython-311.pyc
  Python/WeatherApp/__pycache__/output.cpython-311.pyc
  Python/WeatherApp/credentials.py
  Python/WeatherApp/functions.py
  Python/WeatherApp/main.py
  Python/WeatherApp/output.py
Labels: good first issue, hacktoberfest, python

#9 Create Selfies_with_Python.py
  Python/Selfies_with_Python.py
Labels: hacktoberfest, python, cool projects

#17 added stenography.py
  Python/stenography_main_main.py
Labels: hacktoberfest, python, cool projects
